<p class="text-muted credits">
  Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }}<br>
  
<!--   
<small>
    <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>,
      <span class="credit">customized with <a href="https://github.com/henryhuang/octoplate-cnhalo">Octoplate-cnhalo</a></span>. 
  </small>
  -->
  <!--
    <a href="#" id="back">Back to Top</a>
	-->

  <span>{{site.footerotherinfo}}</span>
</p>

<nav id="bottom" class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
</nav>
